@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  font-family : Outfit;
}
:root{
    --primary:#5f6FFF;
}

.active hr{
    @apply block
}

::-webkit-scrollbar{
    @apply hidden
}

.grid-cols-auto{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.footer-grid {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

@media (min-width: 640px) {
  .footer-grid {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
  }
}

